---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        <h2 class="pt-4" id="peer-reviewed-articles">Peer-Reviewed Journal Articles</h2>
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h4 class="pt-3 mb-2 text-muted" id="year-{{ year.name }}">{{ year.name }}</h4>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}

        <h2 class="pt-4" id="book-chapters">Book Chapters</h2>
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <ul class="list-unstyled mb-0">
                    <li class="d-flex small mb-3"><div><strong>Dimand, A.-M.</strong> (in production). Creating Your Way: Scholarly Identity, Building Networks, and Sharing Your Work Along the PhD Journey. In B. D. McDonald III &amp; H. Minkowitz (Eds.), <em>The Ph.D. Survival Guide: How to Thrive from Start to Graduation in Public Administration.</em></div><div class="ml-auto pl-3 no-break"><em>Forthcoming</em></div></li>
                    <li class="d-flex small mb-3"><div><strong>Dimand, A.-M.</strong>, Patrucco, A. S., Abutabenjeh, S., &amp; Brunjes, B. <a href="https://www.sciencedirect.com/science/article/abs/pii/B9780443137013003509?via%3Dihub" target="_blank">Insights into Public Procurement: Principles, Processes, and Partnership Dynamics</a>. <em>International Encyclopedia of Business Management.</em></div><div class="ml-auto pl-3 no-break"><em>2024</em></div></li>
                    <li class="d-flex small mb-3"><div><strong>Dimand, A.-M.</strong>, &amp; Neshkova, M. I. <a href="https://doi.org/10.4337/9781803929170.00035" target="_blank">From Brown to Green: Repurposing Public Procurement</a>. In T. Nabatchi, J. O'Flynn, &amp; P. 't Hart (Eds.), <em>Positive Public Administration: New Directions for Theory and Practice.</em></div><div class="ml-auto pl-3 no-break"><em>2024</em></div></li>
                    <li class="d-flex small mb-0"><div>Brunjes, B., Abutabenjeh, S., Anguelov, L., <strong>Dimand, A.-M.</strong>, &amp; Rodriguez-Plesa, E. Future Directions for Research in Public Procurement and Contract Management. In K. D. Dzigbede &amp; W. B. Hildreth (Eds.), <em>Research Handbook on Public Financial Management.</em> Edward Elgar.</div><div class="ml-auto pl-3 no-break"><em>2023</em></div></li>
                </ul>
            </div>
        </div>

        <h2 class="pt-4" id="editor-reviewed">Editor-Reviewed Publications</h2>
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <ul class="list-unstyled mb-0">
                    <li class="d-flex small mb-3"><div><strong>Dimand, A.-M.</strong>, Schwoerer, K., Patrucco, A. S., &amp; Murtazashvili, I. <a href="https://www.businessofgovernment.org/sites/default/files/Chapter%208%20-%20AI%20CX%20Dimand.pdf" target="_blank">Design Principles for Responsible Use of AI Through Public Procurement</a>. <em>Transforming the Business of Government</em> (Ch. 8). IBM Center for the Business of Government.</div><div class="ml-auto pl-3 no-break"><em>2023</em></div></li>
                    <li class="d-flex small mb-3"><div><strong>Dimand, A.-M.</strong>, Darnall, N., &amp; Behravesh, S. <a href="https://www.tandfonline.com/doi/full/10.1080/12294659.2023.2260041" target="_blank">Leveraging Procurement for a Sustainable Future</a>. <em>International Review of Public Administration (RRPA).</em></div><div class="ml-auto pl-3 no-break"><em>2023</em></div></li>
                    <li class="d-flex small mb-0"><div>Trammell, E., Abutabenjeh, S., &amp; <strong>Dimand, A.-M.</strong> Public Procurement Trends in Public Administration Research: 1972&ndash;2017. In A. Farazmand (Ed.), <em>Global Encyclopedia of Public Administration, Public Policy, and Governance.</em> Springer.</div><div class="ml-auto pl-3 no-break"><em>2020</em></div></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            <a class="nav-link d-block" href="#peer-reviewed-articles">Articles</a>
            {% for year in pubs_by_year %}
            <a class="nav-link d-block pl-3" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
            <a class="nav-link d-block" href="#book-chapters">Chapters</a>
            <a class="nav-link d-block" href="#editor-reviewed">Editor-Reviewed</a>
        </div>
    </div>

</div>
